<?xml version="1.0"?>
<launch>

  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster1" args="0 0 0 0 0 0 map main_robot_odom 100"/>
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster2" args="0 0 0 0 0 0 map secondary_robot_odom 100"/>

  <!-- PARAMS -->
  <arg name="color" default="orange" />
  <param name="/field/color" value="$(arg color)" />
  <param name="/camera/corner_camera" value="0"/>
  <include file="$(find eurobot)/launch/params.launch"/>
  <include file="$(find eurobot_sim)/launch/map_server.launch" />

  <!--<group ns="main_robot">
    <node pkg="eurobot_sim" name="stm_node" type="stm_node.py" output="screen"/>

    <node pkg="eurobot_sim" type="simulate.py" name="simulate" respawn="true" output="screen">
      <param name="robot_name" value="main_robot"/>
      <param name="other_robots" value="2"/>
      <rosparam file="$(find eurobot_sim)/config/sim.yaml" command="load" />
    </node>
  </group>-->

  <group ns="secondary_robot"> 
    <node pkg="eurobot_sim" name="stm_node" type="stm_node.py" output="screen"/>

    <node pkg="eurobot_sim" type="simulate.py" name="simulate" respawn="true" output="screen">
      <param name="robot_name" value="secondary_robot"/>
      <param name="other_robots" value="2"/>
      <rosparam file="$(find eurobot_sim)/config/sim.yaml" command="load" />
    </node>
  </group>

  <group ns="opponent_robot">
    <!-- NODES -->
    <node pkg="eurobot_sim" name="stm_node" type="stm_node.py" respawn="true" output="screen"/>
  </group>

</launch>
