<?xml version="1.0"?>
<robot name="opponent_robot">
  <material name="red">
    <color rgba="1 0 0 .5"/>
  </material>

  <link name="opponent_robot">

    <visual>
      <origin xyz="0.0 0.0 .15" rpy="0 0 0" />
      <geometry>
        <cylinder length="0.3" radius="0.15" />
        <!--<box size="0.3 0.3 0.35" />-->
      </geometry>
      <material name="red"/>
    </visual>

  </link>

</robot>
